
<!doctype html>
<html lang="en">
  <head>
    <style></style>
      {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block styles %}
          {{ bootstrap.load_css() }}
        {% endblock %}
        <title>Playlist</title>
      {% endblock %}
    </style>
  </head>
<body>
  <style>
  body{
    background-image: url('https://i.pinimg.com/originals/69/96/5c/69965c2849ec9b7148a5547ce6714735.jpg');
  }
  </style>
  {% block content %}
    <div class="container mb-4">  
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="card-title">Build your playlist</h2>
          <form method="POST" action="/">
            {{ form.csrf_token }}
            {{ form.song_title.label }} 
            {{ form.song_title(size=32) }}
            <br>
            {{form.artist_name.label }}
            {{form.artist_name(size = 32)}}
            <input type="submit" value="Submit">
            <div class= "card-footer">
              <a href="{{ url_for('index1') }}" class="card-link">Voice Search</a>
              <!-- link to the transcribe page if you want to transcribe a song -->
              <!-- use only .wavv files of audio  -->

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</body>
</html>